<div layout="column" flex>
    <md-toolbar layout="row" layout-align="center center">
        <section layout-align="start center" layout-fill flex>
            <h3>{{app.title}}</h3>
        </section>
        <section layout-align="end center">
            
            <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <md-icon>more_vert</md-icon>
            </md-button>
        </section>
    </md-toolbar>

    <md-content flex class="md-padding page-content">
        <div ui-view></div>
    </md-content>
</div>
